<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Demo – env vars</title>
    <style>
      body { font-family: sans-serif; padding: 2rem; }
      table { border-collapse: collapse; width: 50%; }
      th, td { padding: 0.5rem; border: 1px solid #888; text-align: left; }
    </style>
  </head>
  <body>
    <h1>Flask app in Docker!</h1>

    <p>
      <img src="{{logo_url}}" width="800" />
    </p>

    <h2>Debug informace</h2>
    <p>Výpis vybraných proměnných z prostředí (pro demo).</p>
    <table>
      <thead>
        <tr><th>Environment var</th><th>Value</th></tr>
      </thead>
      <tbody>
        {% for key, val in env_vars.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Database</h2>
    <table>
      <thead>
        <tr>
          <th>PostgreSQL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Version</td>
          <td>{{db_info['version']}}</td>
        </tr>
        <tr>
          <td>DB uptime</td>
          <td>{{db_info['uptime']}}</td>
        </tr>
        <tr>
          <td>Table count</td>
          <td>{{db_info['table_count']}}</td>
        </tr>
      </tbody>
    </table>

    <h2>Minio - storage</h2>
    <table>
      <thead>
        <tr>
          <th>Bucket</th>
          <th>Objects count</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {% for bucket in minio_info['buckets'] %}
        <tr>
          <td>{{bucket['name']}}</td>
          <td>{{bucket['object_count']}}</td>
          <td>{{bucket['total_size']}}</td>
        <tr>
        {% endfor %}
      </tbody>
    </table>


  </body>
</html>
